.projects-container {
    position: relative;
}

.projects-container::after,
.projects-container::before {
   content: "";
   width: 28rem;
   height: 28rem;
   border-radius: 28rem;
   position: absolute;
   z-index: -1;
   filter: blur(23rem);
}

.projects-container::after {
    top: -3rem;
    left: -5rem;
    background-color: #dd8cfade
}

.projects-container::before {
    bottom: 3rem;
    right: 0.5rem;
    background-color: #aa94fe;

}

.projects-container h5 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.projects-content {
display: flex;
align-items: flex-start;
gap: 3rem
}

.projects {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
}

.projects-info {
     flex: 1;
}



@media (max-width: 992px) {

    .projects-container h5 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .projects-content {
        flex-direction: column;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .projects,
    .projects-info {
        width: 100%;
    }

    .project-info {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
      .projects-container {
        padding: 0;
      }

}

@media (max-width: 1025px) {

    .projects {
        padding-left: 1rem;
    }

    .projects,
    .projects-content {
        grid-gap:  2rem;
    }

  
  
}
