.skills-card {
    border-radius: 0.5rem;
    border: 1px solid #6751b9;
    padding: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills-card:hover,
.skills-card.active {
    background: linear-gradient(90deg , #6751b9 0% , #6751b9 100%);
}

.skills-card-icon{
    top: -2rem;
    left: -1.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 4rem;
   height: 4rem;
   border-radius: 0.55rem;
   border: #6751b9 1px solid ;
   background-color: #060417;
}

.skills-card span {
    font-size: 1.3rem;
    font-weight: 500;
}


@media (max-width:1025px) {
    .skills-card {
        padding: 2rem;
    }

    .skills-card span {
        font-size: 1rem;
    }

    .skills-card-icon {
        width: 3rem;
        height: 3rem;
    }

    .skills-card-icon img {
        width: 3rem;
        height: 3rem;
    }
}